html,
body {
    height: 100%;
    color: rgba(80, 80, 0, 0.8);
}

body {
    background: url("../image/background.jpg") center;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.site-index {
    text-align: center;
}

.site-index img {
    max-width: 800px;
    padding: 100px 0;
    z-index: -100;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(250, 250, 250, 0.4);
}

.btn {
    border-radius: 0;
}

.wrap > .container {
    background-color: rgba(255, 255, 255, 0.86);
    box-shadow: 0 0 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0 0 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0 0 10px 4px rgba(119, 119, 119, 0.75);
}

p {
    margin-bottom: 4px;
}
